body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

section {
    margin: 20px 0;
}

/* Menyusun judul dan filter ruangan menggunakan Flexbox */
.room-header {
    display: flex;
    justify-content: space-between; /* Menyusun elemen di kiri-kanan */
    align-items: center; /* Menyusun elemen secara vertikal di tengah */
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter-container label {
    margin-right: 10px;
}

.filter-container input, .filter-container button {
    padding: 8px;
    margin-left: 5px;
}

/* Gaya untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 10px;
    text-align: center;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#error-message {
    font-size: 14px;
    color: red;
}
